
CREATE OR ALTER PROCEDURE [dbo].[USPEXAMPLE]
(
	@ACTIVE BIT,	
	@PAGESIZE INT,
	@PAGENUM INT,
	@SEARCHVALUE NVARCHAR(255),
	@FIELDVALUE NVARCHAR(255)
)
AS
	
IF @FIELDVALUE IS NOT NULL --WILL BE USED TO LOAD THE SELECTED VALUE OF THE SP COMBO BOX
		SELECT	FLDEMPLOYEEID AS FLDID,
					CASE WHEN FLDEMPNAME IS NULL THEN N'' ELSE FLDEMPNAME END + N' ' + CASE WHEN FLDEMPLASTNAME IS NULL THEN N'' ELSE FLDEMPLASTNAME END AS EMPLOYEE_NAME
		FROM	TBLEMPLOYEES
		WHERE	FLDEMPLOYEEID = @FIELDVALUE
	ELSE
		IF @PAGESIZE IS NOT NULL -- WILL BE USED TO DISPLAY THE LIST OF ITEMS
			BEGIN
				DECLARE @VIEWEMP TABLE
				(
					ID INT IDENTITY(1,1) NOT NULL,
					FLDID INT,
					EMPLOYEE_NAME NVARCHAR(101)
				)
				
				DECLARE @TOP INT
				DECLARE @MINID INT
				DECLARE @MAXID INT
				
				SET @MINID = (@PAGENUM - 1) * @PAGESIZE + 1
				SET @MAXID = @PAGENUM * @PAGESIZE
				SET @TOP = @PAGESIZE * @PAGENUM
				
				SET ROWCOUNT @TOP
				
				IF @SEARCHVALUE IS NULL OR @SEARCHVALUE = N'' --WILL BE USED WHEN SEARCH VALUE WAS NOT SPECIFIED
					INSERT INTO @VIEWEMP(FLDID,EMPLOYEE_NAME)
						SELECT	FLDEMPLOYEEID AS FLDID,
									CASE WHEN FLDEMPNAME IS NULL THEN N'' ELSE FLDEMPNAME END + N' ' + CASE WHEN FLDEMPLASTNAME IS NULL THEN N'' ELSE FLDEMPLASTNAME END AS EMPLOYEE_NAME
						FROM	TBLEMPLOYEES
						WHERE	FLDACTIVE = @ACTIVE
						ORDER BY EMPLOYEE_NAME
				ELSE --WILL BE USED WHEN SEARCH VALUE WAS SPECIFIED
					INSERT INTO @VIEWEMP(FLDID, EMPLOYEE_NAME)
						SELECT	FLDEMPLOYEEID AS FLDID,
									CASE WHEN FLDEMPNAME IS NULL THEN N'' ELSE FLDEMPNAME END + N' ' + CASE WHEN FLDEMPLASTNAME IS NULL THEN N'' ELSE FLDEMPLASTNAME END AS EMPLOYEE_NAME
						FROM	TBLEMPLOYEES
						WHERE	FLDACTIVE = @ACTIVE AND 
									CASE WHEN FLDEMPNAME IS NULL THEN N'' ELSE FLDEMPNAME END + N' ' + CASE WHEN FLDEMPLASTNAME IS NULL THEN N'' ELSE FLDEMPLASTNAME END >= @SEARCHVALUE
						ORDER BY EMPLOYEE_NAME
				
				SET ROWCOUNT 0				
				
				SELECT	FLDID,EMPLOYEE_NAME
				FROM	@VIEWEMP VIEWEMP
				WHERE	ID >= @MINID AND ID <= @MAXID
			END
		ELSE -- WILL BE USED TO CHECK FOR EXISTING VALUE
			SELECT	FLDEMPLOYEEID AS FLDID,
						CASE WHEN FLDEMPNAME IS NULL THEN N'' ELSE FLDEMPNAME END + N' ' + CASE WHEN FLDEMPLASTNAME IS NULL THEN N'' ELSE FLDEMPLASTNAME END AS EMPLOYEE_NAME
			FROM	TBLEMPLOYEES
			WHERE	FLDACTIVE = @ACTIVE AND CASE WHEN FLDEMPNAME IS NULL THEN N'' ELSE FLDEMPNAME END + N' ' + CASE WHEN FLDEMPLASTNAME IS NULL THEN N'' ELSE FLDEMPLASTNAME END = @SEARCHVALUE
	
	RETURN

 GO
 declare @objectName sysname
 declare @object_id int
 declare @datetime_val datetime
 set @objectName = 'USPEXAMPLE'
 set @object_id = object_id(@objectName);
 set @datetime_val = '2020-12-18T17:19:55.310'
 if exists(select * from sys.extended_properties where name = 'CreationDate' and major_id = @object_id)
 begin
 exec sp_updateextendedproperty
 @level0type = 'SCHEMA', @level0name = 'dbo',
 @level1type = 'PROCEDURE', @level1name = 'USPEXAMPLE',
 @name = 'CreationDate', @value = @datetime_val
 end
 else
 begin
 exec sp_addextendedproperty
 @level0type = 'SCHEMA', @level0name = 'dbo',
 @level1type = 'PROCEDURE', @level1name = 'USPEXAMPLE',
 @name = 'CreationDate', @value = @datetime_val
 end
